@import url('https://fonts.googleapis.com/css?family=Oswald|Lato:300');

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: poppins, sans-serif;
    list-style: none;
}

body {
    box-sizing: border-box;
    list-style: none;
    
}

nav {
   background: #1c1d1c;
   height: 80px;
   width: 100%;
}

label.logo {
    color:white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    border-radius: 3px;
    padding: 7px 13px
}

a.active, a:hover {
    background: #4c9174;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}



/* comingActivities */

.infocont {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.infobox {
    background: azure;
    width: 280px;
    height: 400px;
    margin: 5px;
    border-radius: 10px;
    padding: 10px;
} 

.infoimage {
    background-color: green;
    height: 220px;
    margin-bottom: 15px;
    border-radius: 10px 10px 0 0;
}

.type1 {
    background-image: url("../assets/images/social\ activity\ new.jpg");
    background-size: cover;
}

.type2 {
    background-image: url("../assets/images/skiingnew.jpg");
    background-size: cover;
}

.type3 {
    background-image: url("../assets/images/Paintingnew.jpg");
    background-size: cover;
}

.infobox h2 {
    padding: 5px;
    text-align: center;
}

.infobox p {
    padding: 5px;
}

.infobox:hover {
    background-color: rgb(62, 62, 62);
    color: azure;
    transform: scale(1.05);
    transition: all 1s ease;
}



/* footer */
footer {
    background: black;
    color:white;
    padding: 20px;
    display: flex;
    
    
}

footer div {
    width: 100%;
    padding: 10px;
    flex-wrap: wrap;
}

.some a {
    font-size: 200%;
    color:blue;
    padding: 30px;
    letter-spacing: 5px;
    
    }

    .some, .coninfo h1, .coninfo h2 {
        color: rgb(87, 82, 82);
        
    }

    .some {
        line-height: 1.5;
    }

    * {
        margin: 0;
        padding: 0;
        border: 0;
        font-family: poppins, sans-serif;
        list-style: none;
    }
    
    body {
        box-sizing: border-box;
        list-style: none;
        
    }
    
    nav {
       background: #1c1d1c;
       height: 80px;
       width: 100%;
    }
    
    label.logo {
        color:white;
        font-size: 35px;
        line-height: 80px;
        padding: 0 100px;
        font-weight: bold;
    }
    
    nav ul {
        float: right;
        margin-right: 20px;
    }
    
    nav ul li {
        display: inline-block;
        line-height: 80px;
        margin: 0 5px;
    }
    
    nav ul li a {
        color: white;
        font-size: 17px;
        text-transform: uppercase;
        border-radius: 3px;
        padding: 7px 13px
    }
    
    a.active, a:hover {
        background: #4c9174;
        transition: .5s;
    }
    
    .checkbtn {
        font-size: 30px;
        color: white;
        float: right;
        line-height: 80px;
        margin-right: 40px;
        cursor: pointer;
        display: none;
    }
    
    #check {
        display: none;
    }
    
