* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: poppins, sans-serif;
    list-style: none;
}

body {
    box-sizing: border-box;
    list-style: none;
    background: lightgray;
}

nav {
   background: #1c1d1c;
   height: 80px;
   width: 100%;
}

label.logo1 {
    color: #58b48e;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    font-family: poppins, sans-serif;

}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    border-radius: 3px;
    padding: 7px 13px;
    letter-spacing: 2px;
    font-weight: bold;
}

a.active, a:hover {
    background: #09613c;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}




/* main image*/

.responsive {
    width: 100%;
    height: auto;
}

.h1index {
    text-align: center;
    padding: 50px;
    
}

.infocont {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.infobox {
    background: azure;
    width: 280px;
    height: 400px;
    margin: 5px;
    border-radius: 10px;
    padding: 10px;
} 

.infoimage {
    background-color: green;
    height: 220px;
    margin-bottom: 15px;
    border-radius: 10px 10px 0 0;
}

.type1 {
    background-image: url("../assets/images/social\ activity\ new.jpg");
    background-size: cover;
}

.type2 {
    background-image: url("../assets/images/skiingnew.jpg");
    background-size: cover;
}

.type3 {
    background-image: url("../assets/images/Paintingnew.jpg");
    background-size: cover;
}

.infobox h2 {
    padding: 5px;
    text-align: center;
}

.infobox p {
    padding: 5px;
}

.infobox:hover {
    background-color: rgb(62, 62, 62);
    color: azure;
    transform: scale(1.05);
    transition: all 1s ease;
}

/*Joinpage*/

.section-join {
    box-sizing: border-box;
}

.inputpage {
    background-image: url("../assets/images/coverpicture.jpg");
    background-position: center center;
    background-size: cover;
    -webkit-background-size: cover;

}

.inputbox {
    width:800px;
    margin: 5% auto;

}

.form-area {
    display: flex;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 25px;
    padding: 1.9em;
}

.msgbox {
    display: flex;
    flex-direction: column;
    order: 2;
}

.msgbox > txtbox {
    flex: 1;
    min-width: 18em;
    background: transparent;
    color: #fff;
    padding: 15 px;
}

.personinfo-box {
    flex: 1;
    order: 1;
    margin-right: 2em;
}

.personinfo-box input {
    width: 100%;
    background: transparent;
    color: #fff;
    border-radius: 40px;
}

.personinfo-box input, .personinfo-box button {
    padding: 1 em;
    margin-bottom: 1 em;
}

.personinfo-box button {
    background: green;
    color: red;
    border: 0;
    padding: 10px 40px;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 30px;
}

label {
    color: #fff;
    text-transform: uppercase;
    line-height: 40px;
    font-family: Audiowide;

}

/* comingActivities */

.h1upcoming {
    font-weight: bold;
    text-align: center;
    padding: 50px;
}

.infocont {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.infobox {
    background: azure;
    width: 280px;
    height: 400px;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
} 

.infoimage {
    background-color: green;
    height: 220px;
    margin-bottom: 15px;
    border-radius: 10px 10px 0 0;
}

.type1 {
    background-image: url("../assets/images/social\ activity\ new.jpg");
    background-size: cover;
}

.type2 {
    background-image: url("../assets/images/skiingnew.jpg");
    background-size: cover;
}

.type3 {
    background-image: url("../assets/images/Paintingnew.jpg");
    background-size: cover;
}

.type4 {
    background-image: url("../assets/images/hiking.jpg");
    background-size: cover;
}

.type5 {
    background-image: url("../assets/images/football\ .jpg");
    background-size: cover;
}

.infobox h2 {
    padding: 5px;
    text-align: center;
}

.infobox p {
    padding: 5px;
}

.infobox:hover {
    background-color: rgb(62, 62, 62);
    color: azure;
    transform: scale(1.05);
    transition: all 1s ease;
}




/* footer */
footer {
    background: black;
    color:white;
    margin: 20px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


.some a {
    font-size: 200%;
    color:white;
    padding: 5px;
    letter-spacing: 5px;
    border-radius: 10px;
    text-decoration: none;
    flex-wrap: wrap;
    }

    

    .some, .coninfo h1, .coninfo h2 {
        color: rgb(116, 128, 163);
        
    }

    .some {
        line-height: 1.5;
        
    }

    map, .address,.some {
        padding: 0 50px;
    }


/*Joinpage*/

.section-join {
    box-sizing: border-box;
}

.inputpage {
    background-image: url("../assets/images/coverpicture.jpg");
    background-position: center center;
    background-size: cover;
    -webkit-background-size: cover;

}

.inputbox {
    width:800px;
    margin: 5% auto;

}

.form-area {
    display: flex;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 25px;
    padding: 1.9em;
}

.msgbox {
    display: flex;
    flex-direction: column;
    order: 2;
}

.msgbox > txtbox {
    flex: 1;
    min-width: 18em;
    background: transparent;
    color: #fff;
    padding: 15 px;
}

.personinfo-box {
    flex: 1;
    order: 1;
    margin-right: 2em;
}

.personinfo-box input {
    width: 100%;
    background: transparent;
    color: #fff;
    border-radius: 40px;
}

.personinfo-box input, .personinfo-box button {
    padding: 1 em;
    margin-bottom: 1 em;
}

.personinfo-box button {
    background: green;
    color: red;
    border: 0;
    padding: 10px 40px;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 30px;
}

label {
    color: #fff;
    text-transform: uppercase;
    line-height: 40px;
    font-family: Audiowide;

}

@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: black;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;

    }
    a:hover, a.active{
        color: white;
        background: #09613c;
        transition: .5s;
    }

    #check:checked ~ ul {
            left: 0;
    }

    label.logo1 {
        font-size: 20px;
        line-height: 80px;
        padding: 0 100px;
    }
}

@media (max-width: 585px) {
    label.logo1 {
        font-size: 15px;
        line-height: 80px;
        padding: 0 100px;
        padding: 0px;
        text-align: center;
    }
}
