@import url('https://fonts.googleapis.com/css?family=Oswald|Lato:300');

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: poppins, sans-serif;
}

header {
    /*background-color: red;*/
    position: absolute;
    width: 100%;
    z-index: 100;
}

/* Navigation bar */

.logo {
    display:flex;
}

.logo1 {
    background-color: #000000;
    background-image: url("../assets/images/the-activation-foundation-low-resolution-logo-white-on-black-background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 1px solid green;
    width: 50px;
    height: 50px;
    z-index: 100;
}

.logo2 {
    background-color: #000000;
    background-image: url("../assets/images/the-activation-foundation-logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 1px solid green;
    width: 350px;
    height: 50px;
    z-index: 100;
}

.name {
    color: azure;
    font-family: poppins, sans-serif;
}

.menu {
    color: azure;
}

nav {
   /* background-color: rgb(88, 86, 86);*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px;
}

nav ul a {
    text-decoration: none;
    color: azure;
    font-size: 20px;
}

nav ul a:hover {
    font-size: 110%;
    color: red;
}


/* section */


.mainimage {
    height:600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.mainimagepic {
   background-image: url("../assets/images/coverpicture1400x593.jpg");
    height:600px;
    width: 100%;
    background-size: cover;
}

/* zoom on the mainimage */
/*
animation-name: mainimagepic-zoom;
animation-duration: 10s;
animation-fill-mode: forwards;
}

@keyframes mainimagepic-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.2);
    }
} */

.infocont {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.infobox {
    background: azure;
    width: 280px;
    height: 400px;
    margin: 5px;
    border-radius: 10px;
    padding: 10px;
} 

.infoimage {
    background-color: green;
    height: 220px;
    margin-bottom: 15px;
    border-radius: 10px 10px 0 0;
}

.type1 {
    background-image: url("../assets/images/social\ activity\ new.jpg");
    background-size: cover;
}

.type2 {
    background-image: url("../assets/images/skiingnew.jpg");
    background-size: cover;
}

.type3 {
    background-image: url("../assets/images/Paintingnew.jpg");
    background-size: cover;
}

.infobox h2 {
    padding: 5px;
    text-align: center;
}

.infobox p {
    padding: 5px;
}

.infobox:hover {
    background-color: rgb(62, 62, 62);
    color: azure;
    transform: scale(1.05);
    transition: all 1s ease;
}



/* footer */
footer {
    background: black;
    color:white;
    padding: 20px;
    display: flex;
    
    
}

footer div {
    width: 100%;
    padding: 10px;
}

.some a {
    font-size: 200%;
    color:blue;
    padding: 30px;
    letter-spacing: 5px;
    
    }

    .some, .coninfo h1, .coninfo h2 {
        color: rgb(87, 82, 82);
        
    }

    .some {
        line-height: 1.5;
    }


/*Joinpage*/

.section-join {
    box-sizing: border-box;
}

.inputpage {
    background-image: url("../assets/images/coverpicture.jpg");
    background-position: center center;
    background-size: cover;
    -webkit-background-size: cover;

}

.inputbox {
    width:800px;
    margin: 5% auto;

}

.form-area {
    display: flex;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 25px;
    padding: 1.9em;
}

.msgbox {
    display: flex;
    flex-direction: column;
    order: 2;
}

.msgbox > txtbox {
    flex: 1;
    min-width: 18em;
    background: transparent;
    color: #fff;
    padding: 15 px;
}

.personinfo-box {
    flex: 1;
    order: 1;
    margin-right: 2em;
}

.personinfo-box input {
    width: 100%;
    background: transparent;
    color: #fff;
    border-radius: 40px;
}

.personinfo-box input, .personinfo-box button {
    padding: 1 em;
    margin-bottom: 1 em;
}

.personinfo-box button {
    background: green;
    color: red;
    border: 0;
    padding: 10px 40px;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 30px;
}

label {
    color: #fff;
    text-transform: uppercase;
    line-height: 40px;
    font-family: Audiowide;

}